.form-field-with-info-tooltip {
    .control-label {
        display: flex;
        flex-direction: row;
        grid-gap: 5px;

        .label-content {
            overflow: hidden;
            text-overflow: ellipsis;

            &:is(.form-horizontal .tooltip-location-beforeInput .label-content) {
                // Atlas UI defaults to min-width: 576px for the first breakpoint
                @media (min-width: 576px) {
                    flex: 1;
                }
            }
        }

        .tooltip-container {
            align-self: center;
        }
    }
}

.ffit-tooltip-btn {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: none;
    border-radius: 50%;

    img,
    svg {
        max-width: 1.3em;
        max-height: 1.3em;
    }

    &.tooltip-on-hover,
    &.tooltip-on-hoverFocus {
        cursor: default;
    }
}

.form-field-info-tooltip {
    position: absolute;
    width: max-content;
    max-width: 300px;
    z-index: 999; // Above all
    color: #fff;
    padding: 8px 12px;
    background-color: #444;
    border-radius: 2px;
    pointer-events: none;
    overflow: visible;

    .tooltip-popup-arrow {
        fill: #444;
    }
}
